{
  "root": true,
  "parser": "@babel/eslint-parser",
  "extends": ["standard", "plugin:prettier/recommended"],
  "plugins": ["@babel", "react"],
  "rules": {
    "react/jsx-uses-vars": "error",
    "import/no-webpack-loader-syntax": "off"
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
