{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["standard", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint", "react"],
  "rules": {
    "react/jsx-uses-vars": "error",
    "import/no-webpack-loader-syntax": "off"
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
